/*--------------- Custom Font ---------------------*/

@font-face {
	font-family: 'Lato-Light';
	src: url(fonts/Lato/Lato-Light.ttf);
}

@font-face {
	font-family: 'Lato';
	src: url(fonts/Lato/Lato-Regular.ttf);
}

@font-face {
	font-family: 'Montserrat-Light';
	src: url(fonts/Montserrat/static/Montserrat-Light.ttf);
}

@font-face {
	font-family: 'Montserrat-Regular';
	src: url(fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
	font-family: 'Montserrat-ExtraBold';
	src: url(fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
}

@font-face {
	font-family: 'Dancing-Script-Regular';
	src: url("fonts/Dancing_Script/static/DancingScript-Bold.ttf");
}

@font-face {
	font-family: 'Poppins-Regular';
	src: url("fonts/Dancing_Script/static/Poppins-Regular.ttf");
}

/* ----------- Global CSS --------------*/
* {
	margin: 0px;
    padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
}

.text-center {
    text-align: center;
}

.text-highlight {
	text-shadow: 0px 0px 20px white;
	font-weight: bold;
}

.mb85px {
     margin-bottom: 85px;
}

.mb75px {
     margin-bottom: 75px;
 }

.mb20px {
     margin-bottom: 20px;
 }

.mb50px {
     margin-bottom: 50px;
 }

.m0 {
    margin: 0;
}

.text-justify {
    text-align: justify;
}


/* -----------------  HEADER  -------------- */

#body-header {
	opacity:0.9;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(135deg,#535eee, #1da2d8, #23d5ab, #00ff77);
	background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    transition: opacity 0.5s;
    box-shadow: 0px 4px 8px 4px;
    overflow: hidden;
    position: relative;
    z-index: 7;
}

#body-header:hover {
	opacity: 1;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.horizontal-list {
	list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.horizontal-list li {
	display: inline-block;
    margin: 0px;
}

.horizontal-list li a {
	text-decoration: none;
}

.nav-menu {
	background-color: black;
	width:100%;
	opacity: 0.9;
	padding: 0.1em;
	font-size: 1.5em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.nav-menu li {
  margin: 0.4em;
  padding: 1px;
}

.nav-menu li a {
	color: white;
	font-family: 'Lato-Light';
	transition: font-size 1s;
}

.nav-menu li a:hover {
	font-size: 1.1em;
	text-shadow: 0px 0px 8px white;
	border-bottom: 3px solid #eb0537;
}

/****---- Hamburger Icon ----****/

/*.hamburger {
	position: fixed;
	text-align: right;
	width: 0vw;
	left: 100vw;
	border:  2px solid red;
}

.hamburger h1 {
	font-size: 2em;
	font-family: "Dancing-Script-Regular";
}*/

#hamburger-menu {
	position: fixed;
	left: 90%;
	font-size: 2.5em;
	padding: 2vh 0 0 0;
	color: white;
	display: none;
}


#hamburger-menu a i {
	color: white;
}


#hamburger-menu-list {
	position: fixed;
	background-color: #E90064;
	width: 0vw;
	height: 100vh;
	left: 100vw;
	transition: all 1s ease-in-out;
	font-family: 'Montserrat-ExtraBold'; 
	
}

#hamburger-menu-list:target {
    width: 70vw;
    left: 30vw;
 }

/*#hamburger-menu-list:target {
 	width: 70vw;
    width: 60vw;
    right: -40vw;
 }
*/
#hamburger-menu-list ul {
	list-style: none;
	font-size: 1.5em;
	padding-top: 1em;
}

#hamburger-menu-list ul li {
	line-height: 60px;
}

#hamburger-menu-list ul li a{
	text-decoration: none;
	color: white;
}

#hamburger-menu-list ul li a:hover{
	color: #00FA9A;
}  

#close {
	padding: 3vh 6vw 0 0;
	font-size: 2em;
	text-align: right;
}

#close a {
	text-decoration: none;
	color: black;
}

#close a:hover {
	text-decoration: none;
	color: white;
}

/*


/*------------------ Name ----------------*/

#my-name-container {
	margin-top: 15em;
}

#my-name {
	display: inline-block;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: black;
    font-weight: 700;
    font-family: 'Montserrat-Light';
    text-shadow: 0px 0px 20px white;
 }


.first-letter::first-letter {
    color: white;
 }


/*----------  Quote --------------*/
#quote-1{
	margin-top: 50px;
	font-family: Dancing-Script-Regular;
}

/*----------------- Section ---------------*/

section {
	flex-direction: column;
	display: flex;
  	width: auto;
	min-height: 100vh;
	border:2px solid black;
    box-shadow: 0px 4px 8px 4px;
    align-items: center;
    padding-bottom: 20px;
}


/*-------------- About Section ------------*/

#about-section {
	position: relative;
	background: #FF416C;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	z-index: 6;
}

#about-section img {
	width: 15em;
	height: auto;
	border-radius: 50%;
	margin-top: 80px;
    border-top: 4px solid  #fd3a64;
	border-right: 4px solid  #39a9ee;
	border-bottom: 4px solid #32e586 ;
	padding: 10px 10px 10px 0px;
}

#about-section div {
	box-shadow: 0px 0px 10px 6px;
	margin: 80px;
	padding: 40px;
}


#about-section div p{
	color: black;
	font-family: 'Montserrat-Regular'; 
	font-size: 1.2rem;
	word-spacing: 8px;
	line-height: 30px;
 }

#about-section div p::first-letter{
	color: white;
	font-size: 1.8rem;
	font-weight: 900;
}


/*--------------- Skill Section ------------*/


#skill-section {
	background: #11998e;
	position: relative;
	z-index: 5;
}


.section-heading {
    width: auto;
    padding: 70px 10px 10px;
    font-weight: 400;
    font-family: 'Lato-Light';
    color: white;
 }

 .section-heading span {
    font-size: 40px;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
 }

 .section-heading i {
 	color: black;
 }

.skill {
  margin: 20px 20px 50px 20px;
  padding:20px;
  border-bottom: 2px solid white;;
}

.skills-display {
	
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
/*	border: 2px solid yellow;*/
 }

.skill-progress {
 	border: 2px solid white;
 	height: 2em;
 	width: 150px;
 	border-radius: 15px;
 	box-shadow: 0px 0px 10px 4px;
 }


#helm-img {
	width: 4em;
}


.skill-image {
	height: 4em;
	padding: 8px;
}

.skill-name {
   padding: 6px 14px;
   font-family: 'Lato';
   text-align: center;
   letter-spacing: 1px;
   color: white;
}

/* setting background-color */

.mb-blue {
    background-color: #2857a4;
 }

.mb-orange {
 	background-color: #ec4d1c;
}

.mb-teal {
 	background-color: #3871E6;
}

.mb-dark-blue {
 	background-color: #0f2862;
}

.mb-red {
 	background-color: #f52a34 ;
}

.mb-purple {
 	background-color: #8239F3 ;
}

/*Percentage Classes */

.nighty-five-percent {
	height: inherit;
	border-radius: 15px;
	width: 95%;
}

.nighty-percent {
	height: inherit;
	border-radius: 15px;
	width: 90%;
}

.eighty-five-percent {
	height: inherit;
	border-radius: 15px;
	width: 85%;
}

.eighty-percent {
	height: inherit;
	border-radius: 15px;
	width: 80%;
}

.sixty-percent {
	height: inherit;
	border-radius: 15px;
	width: 60%;
}


.fifty-percent {
	height: inherit;
	border-radius: 15px;
	width: 50%;
}


/*-----------Experience section ---------*/

#exp-section {
	position: relative;
    z-index: 4;
    background-color: #414b6c;
}

.timeline {
	position: relative;
	width: 85%; 
}


.timeline-box {
	width: 45%;
	min-height: 150px;
	padding: 10px;
	position: relative;
	font-family: 'Montserrat-Light';
	opacity: 1;
	color: white;
	background-color: ;
	box-shadow: 0px 0px 8px 2px black;
}

.timeline-box div {
    margin-bottom: 20px;
}

.timeline-box:nth-child(2n) {
	left: 54%;
}

#timeline-divider {
    position: absolute;
    width: 0;
    top: 10%;
    left: 50%;
    border: 1px dashed #05eb78;
    height: 66%;
    color: #433E3F;
}

#timeline-divider .timeline-traveller {
    position: sticky;
    top: 135px;
    z-index: 2;
    font-size: 2em;
}

#timeline-divider i {
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    color: black;
    font-size: 1em;
}

.timeline-traveller-list {
	position: relative;
	width: 100%;
	height: 100%;
}
.timeline-traveller-list ul li{
  position: absolute;
  font-size: 2.5em;
  left:23.9px;
  color: lightgrey;
}

#list-item-1 {
 top: 1em;
}

#list-item-2 {
 top: 13em;
}

.experience-designation {
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.experience-company-name {
    margin: 5px 0 0;
    color: #fa8116;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Lato';
    margin-bottom: 10px;
}

.experience-duration {
	color: white;
    font-weight: 100;
    font-family: 'Dancing-Script-Regular' !important;
    font-size: 1rem;
}

.experience-description {
	padding: 15px;
	list-style: none;
}
.experience-description li{
    font-size: 1rem;
    padding: 5px;
    color: white;
    line-height: 20px;
    word-spacing: 6px;
    margin-bottom: 5px;
}



/*------------- ACHIEVEMENTS --------------*/
#achieve-section {
	background: #0b8793;
	position: relative;
	z-index: 3;
}

.achieve-content {
    background: repeating-conic-gradient( #2F3C7E 0% 25%, #79A7D3 0% 50%) 0 0/30px 30px round;
    margin: 0px 30px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.achieve-content img {
	padding: 8px;
}

#az-104-cert {
	width: 200px;
}

#strapi-appr-img {
	width: 750px;
}

#star-appr-img {
	width: 750px;
}

/*.achieve-section-img div img{
  width: 80%;
  height: 60%;
}

#az-104-cert{
	width: 30%;
	height: 30%;
}


/*------------ PORTFOOLIO-----------*/

#portfolio-section{
	background-color: #2E8B57;
}



/*----------- CONTACT SECTION -----------*/
#contact-section {
	background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

#contact-container {
    display: flex;
 /*   justify-content: center;
    align-items: center;*/
    justify-content: space-around;
    flex-wrap: wrap;
 
}

#contact-form-container {
    width: 40%;
}

input, textarea{
	width: 90%;
	border: 0px solid transparent;
	padding: 4px 10px;
	border-bottom: 2px solid white;
	line-height: 1.6;
    font-size: 1.05rem;
    font-family: 'Montserrat-Light';
    margin: 15px;
    color: rgb(201,175,58);
    background: transparent;
    transition: border-bottom 0.5s ease;
}

#contact-form button[type="submit"] {
	background: transparent;
	font-size: 0.95rem;
	border: 2px solid rgb(55,185,242);
	border-radius: 2px;
	color: rgb(55,185,242);
	margin-top: 2%;
	padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
    cursor: pointer;
}

#contact-form button:hover {
    color: rgb(201,175,58);
    border-color: rgb(201,175,58);
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border-bottom: 2px solid #00ff7f;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(201,175,58);
    transition: background-color 50000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}


#my-details-container h3 {
	color: rgb(201,175,58);
	margin-bottom: 10px;
	padding-top: 1em;
	font-size: 2em;
	font-family: 'Montserrat-Light';
}



.my-details-info-container {
	font-family: 'Montserrat-Light';
	font-weight: 900;
	line-height: 3em;
}

.my-details-info-container span {
	color: white;
	margin-left: 0.5em;
}

.my-details-info-container i {
	font-size: 1.5em;
}


#contact-section #footnote {
   font-size: 2em;
   margin-top: 4em;
}

#contact-section #footnote i {
	color: pink;
}


/*  MEDIA QUERIES */

@media only screen and (max-width: 768px) {
	/****	Hamburger ****/

    #hamburger-menu{
        display: block;
    }
    
    .nav-menu {
        display: none;
    } 

    .section-heading {
    width: auto;
    padding: 40px 10px 10px;
    font-weight: 400;
    font-family: 'Lato-Light';
    color: white;
 }


	/* About   */
    #about-section img {
		width: 10em;
		margin: 40px 0px;	
	}
    
    #about-section {
    	background: #B24592;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #F15F79, #B24592);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #F15F79, #B24592); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

	#about-section div {
	  margin: 10px;
	  padding: 25px;
	}

	#about-section div p{
		font-size: 0.9rem;
		word-spacing: 4px;
		line-height: 26px;
		text-align: justify;
	    font-family: 'Montserrat-Regular'; 
 	}


    /**** Section	****/
 	.section-heading span {
 		font-size: 30px;
    }

    /**** Skill *******/
 	#skill-section {
 		font-size: 0.7em;
 	}
	
	.skill {
  		margin: 10px 0px 25px 0px;
  		padding:10px 10px;
  		border-bottom: none;
	}
	
	.skills-display {
		justify-content: space-between;

 	}

	.skill-progress {
 		border: 2px solid white;
 		height: 2em;
 		width: 95px;
 		box-shadow: 0px 0px 4px 2px;
	}

 	.skill-name {
   		padding: 3px 10px;
   	}

	#helm-img {
		width: 5em;
	}

	.skill-image {
		height: 4.5em;
		padding: 2px;
	}


	/**** Experience ****/
	#exp-section {
    	background-color: #1d5878;
	}

	#timeline-divider {
	    left: 3%;
	    height: 84%;
	}

    .timeline {
		position: static;
		width: 100vw; 
	}
 

	.timeline-box {
		width: 82vw;
		margin: 0px 0px 20px 40px;
		position: static;
		padding: 10px;
		font-family: 'Montserrat-Regular';
		color: white;
		box-shadow: 0px 0px 4px 2px black;
	}
	.experience-designation {
   		font-size: 1.2rem;
   		color: black;
   		font-family: 'Montserrat-ExtraBold';
	}

	.experience-company-name {
    	color: black;
    	font-size: 1rem;
    	font-family: 'Montserrat-Regular';
	}

	.experience-duration {
		color: #F99417;
	    font-size: 0.9rem;
	}

	.experience-description {
		padding: 0px;
	}

	.experience-description li{
	    font-size: 0.8rem;
	    padding: 5px;
	    color: white;
	    line-height: 20px;
	    word-spacing: 5px;
	    margin-bottom: 5px;
	}

	#list-item-1 {
	 	top: 2em;
	}

	#list-item-2 {
	 	top: 17em;
	}


	#az-104-cert {
	width: 150px;
}

#strapi-appr-img {
	width: 400px;
}

#star-appr-img {
	width: 400px;
}
}